[package]
name = "dioxus-todo"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/main.rs"

[dependencies]
dioxus = { version = "0.7", features = ["web"] }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
